<div id="site-container">
  <div id="landing-intro">
    <span id="name-container">
      JESUS MOLINA
    </span>
  </div>

  <div id="photo-container">
    <nav id="nav">
      <span id="nav-name">
        JESUS MOLINA
      </span>
      <span id="nav-image">
        <ul>
          <li>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Small-dark-grey-circle.svg/2000px-Small-dark-grey-circle.svg.png" height="6%" width="6%">
          </li>
        </ul>
      </span>
    </nav>
  </div>
</div>

