<div id="site-container">
  <div id="landing-intro">
    <span id="name-container">
      JESUS MOLINA
    </span>
  </div>

  <div id="photo-container">
    <nav id="nav">
       <span id="social-media">
        <ul>
          <li> JESUS MOLINA </li>
          <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Small-dark-grey-circle.svg/2000px-Small-dark-grey-circle.svg.png" height="3%" width="3%"></li>
        </ul>
       </span>
    </nav>
  </div>
</div>

