<div id="site-container">
  <div id="landing-intro">
    <span id="name-container">
      JESUS MOLINA
    </span>
  </div>

  <div id="photo-container">
    <nav id="nav">
       Nav
    </nav>
  </div>
</div>

