<div id="site-container">
  <div id="landing-intro">
    <div id="landing-container">
      <span id="name-container">
        JESUS MOLINA
      </span>
    </div>
    <footer id="footer">
      <%= image_tag("downwards-arrow.png", id: "arrow-pic") %>
    </footer>
  </div>

  <div id="photo-container">
    <nav id="nav" class='active'>
      <span id="nav-name">
        JESUS MOLINA
      </span>
      <span id="nav-image-container">
        <span id="nav-image">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Small-dark-grey-circle.svg/2000px-Small-dark-grey-circle.svg.png" height="100%" width="100%">
        </span>
      </span>
    </nav>

    <div id="sidescrolling-container">
      <% if @page > 1 %>
        <%= link_to "PREV", (next_path(@link - 2) + "/#individual-photo") %>
      <% end %>

      <% @pics.each do |photo| %>
        <span id="individual-photo">
          <img src="<%= photo.url %>" height='250px' width="250px">
        </span>
      <% end %>

      <% if @page < @page_max %>
        <%= link_to "NEXT", (next_path(@link) + "/#individual-photo"), id: "next_button" %>
      <% end %>

    </div>
  </div>
</div>

