<div id="site-container">
container flufl
  <div id="landing-intro">
    Landing intro div
    <img src="https://media.giphy.com/media/3o6gE4tv9znhlbqy1W/giphy.gif">
  </div>

  <div id="photo-container">
    photo container div
  </div>
</div>

