// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  margin:0;
}

#site-container{
  display: flex;
  flex-direction: column;
  height: 200%;
  width: 100%;
}

#landing-intro{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 100%;
  width: 100%;
  background: url(background.gif);
}

#landing-container{
  display: flex;
  height: 70%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#name-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 250%;
  border: 3px solid white;
  padding: .5%;
  height: 15%;
  width: 40%;
}

#footer{
  display: flex;
  justify-content: center;
  width: 80%;
  background-color: maroon;
}

#photo-container{
  display: flex;
  height: 100%;
  width: 100%;
  background-color: purple;
}

#nav{
  display: flex;
  width: 100%;
  height: 6.5%;
  background-color: red;
}

#nav-name{
  display: flex;
  align-items: center;
  padding: 0 2.25%;
  font-family: 'Libre Baskerville', serif;
  font-size: 175%;
  width: 50%;
}

#nav-image-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  padding-right: 2.25%;
}

#nav-image{
  display: flex;
  height: 85%;
  width: 6.75%;
}

